.lkfs-topbar-box {
  height: 100px;

  .lkfs-top-bar-banner {
    width: 30%;
    float: left;
    height: 100px;
    line-height: 100px;
    background: silver;
  }

  .lkfs-top-bar-slider {
    width: 69%;
    height: inherit !important;
    float: right;

    .carousel {
      height: 100px;

      img {
        height: 100px;
      }
    }

    .lkfs-top-bar-slider-img {
      max-height: 100px;
      width: 100%;
    }
  }
}