html {
  overflow-y: scroll;
}

body {
  margin: 0 100px !important;

  @media all and (max-width: 1439px) {
    margin: 0 !important;
  }

  .side-menu {
    width: 15%;
    float: left;
  }

  .view {
    //background-color: #f0f0f5;
    background-image: url("http://api.thumbr.it/whitenoise-30x30.png?background=#f0f0f500&noise=626262&density=38&opacity=29");
    width: 85%;
    float: right;
    margin-top: 20px;
    -webkit-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.75);
  }
}

.modal-header {

  .modal-title {
    display: inline-block;
    font-weight: bold;
  }

  .modal-close-icon {
    font-size: 20px;
    cursor: pointer;
  }
}